<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPagseguro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDE28B131F30DC2300D67667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE28B291F30DC2300D67667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE28B341F30DC2300D67667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
